<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>黑马程序员论坛首页</title>
    <link rel="stylesheet" href="../public/css/common.css" />
		<link rel="stylesheet" href="../public/css/common-new.css" />
    <link rel="stylesheet" href="../public/css/user_info.css" />
		<link rel="stylesheet" href="../public/css/search.css" />
    <script type="text/javascript" src="../public/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../public/js/hm-bbs.js"></script>
		<style type="text/css">
  		.hm-header-b {
  			border-bottom: 1px solid #d9d9d9;
  		}
    </style>
</head>
<body>
    <!-- 头部 -->
    <div class="hm-top-nav">
			<div class="hm-inner clearfix">
				<div class="hm-inner-l l">
				</div>
				<div class="hm-inner-r r">
					<div class="box">
						欢迎<a href="user_info.php" style="margin-right:0px;padding:0px 5px;color:blue;"><?php echo nickname($dbh)?></a>回来！
		                <a href="logout.php">【注销】</a>
						<div id="dialogBg"></div>
					</div>
				</div>
			</div>
		</div>
    <div class="hm-header">
        <div class="hm-inner clearfix">
            <div class="hm-header-t clearfix">
				<h1 class="logo l">
					<a href="javascript:;"><img src="../public/images/logo.png"
						height="64" width="168" alt="" /></a>
				</h1>
				<div class="search-box l">
						<form action="javascript:;">
								<input type="text" class="txt l" placeholder="请输入关键字">
								<input type="button" value="搜索" class="btn l" />
						</form>
				</div>
			</div>
				<div class="hm-header-b">
						<i class="hm-ico-home"></i>
						<a href="index.php">首页</a><span>></span>个人信息
				</div>
      </div>
    </div>
    <div class="hm-body hm-body-bgc">
        <div class="hm-inner">
            <div class="user-info clearfix">
            	<div class="user-info-t" style="height:20px;"></div>
                <div class="user-info-l l">
                    <div class="user-info-l-t">
                        <img src="<?php echo $icon['profile']?>" />
                        <div class="username"><?php echo nickname($dbh)?></div>
                    </div>
                    <ul class="user-info-l-b">
                        <li class="cur"><i class="info-icon"></i>我的资料</li>
                        <li><i class="safe-icon"></i>修改密码</li>
                    </ul>
                </div>
                <div class="user-info-r r">
                    <ul class="clearfix hd">
                        <li class="cur"><a href="user_info.php">个人信息</a></li>
                        <li><a href="user_pwd.php">修改密码</a></li>
                    </ul>
                    <form action="user_info.php" method="post" enctype="multipart/form-data">
                    <ul class="bd">
                        <li class="clearfix">
                            <div class="info-l"><i class="red">*</i>用户名：</div>
                            <div class="info-r"><input type="text" class="txt" value="<?php echo $_SESSION['userName']?>" readonly="readonly"/></div>
                        </li>
                        <li class="clearfix">
                            <div class="info-l">昵&nbsp;&nbsp;&nbsp;&nbsp;称：</div>
                            <div class="info-r"><input type="text" name="nickname" class="txt" value=""/></div>
                        </li>
                        <li class="clearfix">
                            <div class="info-l">邮箱地址：</div>
                            <div class="info-r"><input type="text" name="email" class="txt" value=""/></div>
                        </li>
                        <li class="clearfix">
                            <div class="info-l">上传头像：</div>
                            <div class="info-r"><input type="file" name="picUrl" class="file-btn"/></div>
                        </li>
                        <li class="clearfix">
                            <div class="info-l"></div>
                            <div class="info-r">
                            	<input type="submit" class="btn" name="sub" value="保存" />
                                <?php if(isset($result)){?>
                            	<span style="color:red;">
                                 <?php echo $result? '修改成功！' : '修改失败！ ' ?>  </span>
                                <?php }?>
                            </div>
                        </li>
                    </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
		<!-- 底部 -->
		<div class="hm-footer" style="padding-top:10px;">
			<div class="hm-inner">
				<div class="hm-footer-cpr">
					<p>Copyright@2006-2017 ITCAST. All Rights Reserved</p>
					<p>传智播客 版权所有</p>
				</div>
			</div>
		</div>
</body>
</html>
